<div class="register-container">
  <div class="register-card">
    <i class="fas fa-share-alt-square logo"></i> <!-- Changed icon -->
    <h1>Create your account</h1>
    
    <form (ngSubmit)="register()" class="register-form">
      <input 
        type="text" 
        [(ngModel)]="username" 
        name="username" 
        placeholder="Username" 
        class="text-input" 
        required
      >
      
      <input 
        type="email" 
        [(ngModel)]="email" 
        name="email" 
        placeholder="Email" 
        class="text-input" 
        required
      >
      
      <input 
        type="password" 
        [(ngModel)]="password" 
        name="password" 
        placeholder="Password" 
        class="text-input" 
        required
      >
      
      <button type="submit" class="btn">Register</button>
    </form>
    
    <div class="switch-auth">
      <p>Already have an account? <a routerLink="/login">Sign in</a></p>
    </div>
  </div>
</div>