<div class="login-container">
  <div class="login-card">
    <i class="fab fa-twitter logo"></i>
    <h1>Sign in to MeanFeed</h1>
    
    <form (ngSubmit)="onSubmit()" class="login-form">
      <input 
        type="email" 
        [(ngModel)]="email" 
        name="email" 
        placeholder="Email" 
        class="text-input" 
        required
      >
      
      <input 
        type="password" 
        [(ngModel)]="password" 
        name="password" 
        placeholder="Password" 
        class="text-input" 
        required
      >
      
      <button type="submit" class="btn">{{ buttonText }}</button>
    </form>
    
    <div class="switch-auth">
      <a [routerLink]="switchLink">{{ switchText }}</a>
    </div>
  </div>
</div>